@charset "UTF-8";

:root {
  --main-color: #e0d7cb;

  --secondary-color: #946A1A;

  --third-color: #55291B;

  --fourth-color: #CBC0AE;

  --fifth-color: #A9A587;


  --text-color: #D9D9D9;

  --main-font: 'Lora';
  --second-font:'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';


}




* {
  margin: 0;
  padding: 0;

}

body {}



@media screen and (max-width:768px) {


  body {
    background: url('./coding-pic/nail-cover-correct-z.png');

    background-size: cover;
    position: relative;

  }



  .index-wrap-bg {
    border: 1px solid#7ecbec;


    backdrop-filter: blur(40px) brightness(40%) saturate(80%);

    width: 100%;
    height: 100%;




  }


  .index-header {

    /* border: 1px solid#82ec7e; */

    display: flex;


    width: 100%;
    position: sticky;
    z-index: 20;


  }

  .nav-logo {
    /* border: 3px solid#ea7eec; */
    margin: auto;



  }

  .nav-logo img {
    /* border: 2px solid#837eec; */

    width: 130px;
    height: 40px;

  }

  #menu_control {
    border: 1px solid#9b7eec;

    position: absolute;
    z-index: -10;
    opacity: 0;

  }

  .menu_btn {




    width: 60px;
    height: 60px;
    position: absolute;
    display: block;
    cursor: pointer;
    /* background-color: rgba(229, 186, 186, 0.151); */


    top: -20px;
    right: 3px;



  }

  .menu-btn-wrap {
    /* border: 1px solid#df2222; */

    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);




  }

  .menu-btn-style1,
  .menu-btn-style2,
  .menu-btn-style3 {

    background-color: rgb(208, 206, 203);
    width: .5px;
    margin: 2.5px;
    margin-top: 50px;




  }

  .menu-btn-style1 {
    height: 30px;

  }

  .menu-btn-style2 {
    height: 20px;
  }

  .menu-btn-style3 {
    height: 10px;

  }








  /* --------------------------------------- */

  .menu-btn-style1:hover,
  .menu-btn-style2:hover,
  .menu-btn-style3:hover {
    animation: 0.5s side_slide02 cubic-bezier(0.01, 0.87, 0.21, 0.99)
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }


  .index-header nav {
    width: 59%;

    background-color: rgba(12, 12, 12, 0.479);
    position: absolute;
    top: 100px;
    left: -100%;
    transition: .5s;



  }

  .index-nav-bg {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);


  }

  .index-header nav h1 {

    color: #867c7c;
    font-size: 20px;
    font-family: 'Lora';
    font-weight: 10;
    text-align: center;
    line-height: 30px;
    letter-spacing: .9em;
    padding: 6%;

  }

  .index-header nav h2,
  h3,
  h4 {

    color: var(--secondary-color);
    font-size: 10px;
    font-family: 'open sans';
    font-weight: 100;


  }

  swiper-container {
    margin: 7%;
    border-radius: 20px;

  }

  swiper-slide {

    width: 90%;

    /* background: #2825259a; */
    color: #fff;
    text-align: end;
    font-family: 'opansans';
    font-weight: 100;








  }




  .swiper-slide-overlay {



    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 8px;
    font-weight: 100;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 4;

  }

  .swiper-slide-overlay:hover {
    opacity: 0;
  }



  .mySwiper img {
    width: 100px;
    height: 100px;
    border-radius: 10px;



  }

  swiper-slide:nth-child(2) {
    /* background: #7e76755f; */


  }

  swiper-slide:nth-child(3) {
    /* background: #4134196a; */
  }

  swiper-slide:nth-child(4) {
    /* background: #390d0374; */
  }

  swiper-slide:nth-child(5) {
    /* background: #5031195c; */
  }



}




#menu_control:checked~.index-header nav {
  left: 0;
  padding: 10px 40px;

}


/* ---------------------------------------------------- */


.index-content-top-wrap {
  margin: 20%;
}


.index-content-top-wrap h1 {

  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: 100;
  color: #a4825d76;

  text-align: left;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;
  right: 10px;




}

.nav-share {
  text-align: center;

}

.nav-share h6 {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: var(--secondary-color);
  padding: 20px;

}

.nav-share-border {
  display: inline-block;
  background-color: #1d1818a9;
  border: 1px solid#54545487;
  border-radius: 50%;
  padding: 20px;


}

#copyText {
  display: flex;
  flex-direction: column;

  opacity: 0;
}

#copyButton {
  width: 200px;
  height: 20px;

  color: #b3a4a4;
  background-color: #1d1818a9;
  border: 1px solid#54545487;
  border-radius: 300px;
  cursor: pointer;
}

.nav-share-url {
  /* border: 1px solid#fff; */

  text-align: center;
  margin: 8%;

}

.nav-button {
  text-align: center;


  background-color: black;
  color: var(--fourth-color);

}

/* ========================== */



.item {

  padding-left: 20px;
}

.index-content-item-pic {

  width: 30%;
  height: 150px;
  padding: 20px;
  background-size: cover;
  position: relative;
  border-radius: 3px;


}



.index-content-item-pic:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.566);
 

}

.index-content-item-pic:hover:after {
  opacity: o;
  display: none;

}

.index-content-top-wrap a {
  text-decoration: none;
  list-style: none;
  text-align:end;
  color:var(--fourth-color);
  font-family: 'open sans';
  font-size: 20px;
  font-weight: 100;
  z-index: 5;

}

.star {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide-star 2s linear infinite;
}

@keyframes slide-star {
  0% {
    transform: translate(, );
  }

  100% {
    transform: translate(50%, 50%);
  }
}


/* -----------content-middle---------------- */

.index-top-content-center-wrap-container {

  /* outline: 6px solid#4554b6; */

  background: url("") no-repeat center center fixed;
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;


}

.widget {
  /* border: 15px solid#45b6a9; */


  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.blur {

  /* border: 15px solid#45b6a9; */

  background: url("./coding-pic/found-store\ -\ backup.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(20px);
  filter: drop-shadow(20px);
  position: absolute;
  height: 600px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;

}

.center {
  /* border: 15px solid#45b6a9; */


  position: absolute;
  margin: auto;
  height: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text {
  /* outline: 1px solid#45b670; */

  height: 340px;
  width: 340px;

}

.text h1 {
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  color: #d7d2d2;
  margin-top: 57px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 38px;
}

.text p {

  text-align: center;
  color: #cfcece;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 22px;
}

/* ----------content-bottom-------- */

.index-content-down-wrap {
  /* outline: 1px solid#fff; */


  display: flex;
  margin: auto;
  position: relative;


}

.index-content-down-wrap:after {
  /* outline: 1px solid#fff; */
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.717);
  min-width: 100%;
  height: 100%;
  z-index: -1;

}

.index-content-down-wrap::before {
  /* outline: 1px solid#fff; */
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.412);
  min-width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;

}


.index-content-down-text {
  padding: 4%;
  font-family: var(--second-font);
  font-size: 30px;
  font-weight: 100;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 18PX;
  margin: 5%;
  background: linear-gradient(180deg, #CEC3B1 10%, #EEEBD5 150%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0.5;
  line-height: 13px;


}

.index-content-down-text p {
  margin-top: 400px;
  margin-left: 30px;
 
}


/* ________________________________ */





.index-content-pic-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;

  overflow: hidden;
  gap: 100px;

}



.index-content-slideshow-pic-left {

  height: 500px;
  width: 500px;
  animation: slideshow 40s infinite;

}



.index-content-slideshow-pic-left img {

  width: 109px;
  height: 136px;
  margin: 30px;


}



@keyframes slideshow {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-50%);
  }

  20% {
    transform: translateY(-100%);
  }

  30% {
    transform: translateY(-200%);
  }

  40% {
    transform: translateY(-300%);
  }

  50% {
    transform: translateY(-400%);
  }

  60% {
    transform: translateY(-300%);
  }

  70% {
    transform: translateY(-200%);
  }

  80% {
    transform: translateY(-200%);
  }

  90% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}


/* ________________________________ */

.index-content-down-right {
  width: 20%;
  background: rgba(50, 11, 11, 0.644);
  border-left: 6px;

  box-shadow: rgba(201, 196, 196, 0.742) 0px 1px 4px, rgba(0, 0, 0, 0.24) 0px 3px 2px;
}

.index-content-down-right-title {
  margin-left: -90PX;
  margin-top: 200PX;
  margin-bottom: 90px;
  text-align: right;
  font-family: 'Lora';
  font-size: 28px;
  background: linear-gradient(106.85deg, #E9E7D8 -83.6%, rgba(233, 231, 216, 0) 129.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: -1;

}

.index-content-down-right p {
  margin-left: -90px;
  font-family: 'Open Sans';
  font-size: 10px;
  text-align: right;
  color: #5a4828;
}

/* -------------footer-------------- */


.index-footer-wrap {


  z-index: 3;
  padding: 5%;

  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #6F6C69 radial-gradient(50% 50% at 49.79% 28.22%, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.74232) 43.28%, #000000 100%);

}



.index-footer-content {
  display: flex;
  justify-content: space-evenly;
  z-index: 2;


}


.index-sidebar-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 10px;
  font-family: 'Open Sans';
  font-size: 10px;
  letter-spacing: -0.019em;
  text-transform: uppercase;
  color: #868383cd;

}

.index-footer-logo img {
  width: 140px;
  height: 70px;
}


.index-footer-sidebar-designer a {
  text-decoration: none;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.019em;
  color: #868383cd;
  t
}

.index-footer-sidebar-sign img{
  width: 90px;
  height: 50px;
}



.index-footer-content-bottom p {
  margin-top: 40px;
  font-family: 'lora';
  font-size: 12px;
  color: #868383cd;


}