@charset "UTF-8";

* {
  margin: 0;
  /* outline: 1px solid red; */
}

body {
  background: url('./coding-pic/main-background-\ logo\ 2.png'), rgba(16, 6, 6, 0.9), (0deg, rgba(208, 177, 119, 0.1));


  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;




}

.index-wrap {
  display: flex;

}

.index-wrap-row {}






.index-wrap-column {



  border-right: 1px solid rgba(121, 85, 16, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;





}

.index-wrap-column::after {
  position: fixed;
  content: "";
  z-index: 5;
  width: 100%;
  height: 0.5px;
  top: 25px;
  background-color: rgba(227, 214, 214, 0.5);



}

.index-wrap-column i {


  text-align: center;
  margin: 20px;

}

.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(22, 19, 19, 0.638), rgba(16, 6, 6, 0.9)),
    linear-gradient(0deg, rgba(150, 126, 80, 0.1), rgba(208, 177, 119, 0.1));
  pointer-events: none;
  z-index: -3;
  
  /* 22, 19, 19, 0.29) */
  /* 22, 19, 19, 0.836 */

}




.index-top-content-pic-wrap {
  display: flex;

}



.index-content-item-pic {

  width: 380px;
  height: 380px;
  background-size: cover;
  position: relative;
}

.index-content-item-pic:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.307);

}

.index-content-item-pic:hover:after {
  opacity: o;
  display: none;

}










/* ---------------------------------------------- */


/* ++++++++++++++++++++++++++++ */

.index-header-top-lab-menu {
  /* border: 2px solid#1f7ea7; */

  display: flex;
  align-items: stretch;
  width: 400px;
  height: 40px;
  list-style: none;

}

.index-header-top-lab-text-menu-item {
  /* border: 2px solid#931fa7; */

  position: relative;
  margin: 0 7px;
  line-height: 38px;
  text-align: center;




}

.index-header-top-lab-text-menu-item a {
  /* border: 2px solid#1fa746; */


  text-decoration: none;
  color: rgba(206, 195, 177, 1);
  margin-right: 70px;


}

.index-header-top-lab-text-menu-item:hover {
  cursor: pointer;

  border-radius: 5px;
  opacity: .8;
 
}

.index-header-top-lab-text-menu-item:hover>.index-header-top-nav-dropdown {
  display: block;
}

.index-header-top-nav-dropdown {
  /* border: 2px solid#1fa746; */

  display: none;
  position: absolute;
  width: 100%;
  padding: 4px;
  list-style: none;
  top: 100%;
  left: 0;
}

.index-header-top-nav-dropdown li {
  /* border: 2px solid#3f1fa7; */

  line-height: 24px;
  text-align: center;
}

.index-header-top-nav-dropdown a {
  /* border: 2px solid#a71f31; */
  display: block;
  align-items: start;
  padding: 10px;
  width: 300px;
  letter-spacing: 2px;

  color: #000;
  text-decoration: none;
  text-align: left;

}

.index-header-top-nav-dropdown a:hover {
  list-style-type: disc;
  color: #a9803d;
  padding: 20px;

}



.index-header-top-lab-enter a {
  /* outline: 1px solid#457ab6; */

  flex-grow: 1;
  margin-left: 20px;
  text-align: end;
  text-decoration: none;
  color: #CEC3B1;


}

.index-header-top-lab-img {
  /* outline: 1px solid#45b670; */

  width: 200px;
  height: 70px;


}

.index-header-top-lab {
  /* outline: 4px solid#b64545; */

  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  color: #CEC3B1;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: end;
  
  width: 91%;
  height: 100px;


}

.index-header-top-nav-dropdown a {

  text-decoration: none;
  color: rgba(196, 190, 181, 0.985);
  letter-spacing: 3px;



}

.index-header-top-lab-img img {
  width: 200px;
  height: 100px;
  margin-left:-78px;

}













/* ----------------------------------------- */

.index-top-content-pic-wrap {

  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin-top: 300px;

}




.index-content-item-pic {

  display: flex;
  flex-direction: column;
  justify-content: end;

}




.index-content-pic-text a {
  text-decoration: none;
  display: flex;
  justify-content: start;


  color: rgb(255, 255, 255);
  font-family: 'lora';
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.367);


  width: 400px;
  height: 140px;

  margin-left: -50px;
  margin-bottom: -50px;
  z-index: 2;

}

.index-content-pic-text p {
  text-align: end;
  margin: 20px 0 0 -50px;
  z-index: 1;

}



.index-content-pic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* ============================== */

.index-top-content-center-wrap-container {

  /* outline: 6px solid#4554b6; */

  background: url("") no-repeat center center fixed;
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;


}

.widget {
  /* border: 15px solid#45b6a9; */


  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.blur {

  /* border: 15px solid#45b6a9; */

  background: url("./coding-pic/found-store\ -\ backup.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(20px);
  filter: drop-shadow(20px);
  position: absolute;
  height: 600px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;

}

.center {
  /* border: 15px solid#45b6a9; */


  position: absolute;
  margin: auto;
  height: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text {
  /* outline: 1px solid#45b670; */

  height: 340px;
  width: 340px;

}

.text h1 {
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  color: #d7d2d2;
  margin-top: 57px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 38px;
}

.text p {

  text-align: center;
  color: #cfcece;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 22px;
}






















/* ================================= */



.index-content-down-wrap {
  /* outline: 1px solid#fff; */


  display: flex;
  margin: auto;
  position: relative;


}

.index-content-down-wrap::after {
  /* outline: 1px solid#fff; */
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.717);

  min-width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;

}
.index-content-down-wrap::before {
  /* outline: 1px solid#fff; */
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.412);

  min-width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;

}


.index-content-down-text {
  padding: 50px;
  font-family: 'Lora';
  font-size: 50px;
  font-weight: 100;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 20PX;
  margin: 100px;
  background: linear-gradient(180deg, #CEC3B1 0%, #EEEBD5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0.4;


}

.index-content-down-text p {
  margin-top: 400px;
  margin-left: 30px;
}


/* ________________________________ */





.index-content-pic-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  margin: 50px;
  padding: 50px;
  overflow: hidden;
  gap: 100px;

}



.index-content-slideshow-pic-left {

  height: 500px;
  width: 500px;
  animation: slideshow 40s infinite;

}

.index-content-slideshow-pic-right {
  height: 300px;
  width: 200px;
  animation: slideshow 30s infinite;
  /* animation-delay: -5s; */

}

.index-content-slideshow-pic-left img {
  height: 386px;
  width: 309px;
  margin: 30px;


}

.index-content-slideshow-pic-right img {

  width: 200px;
  height: 270px;
  margin: 10px;

}

@keyframes slideshow {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(-200%);
  }

  30% {
    transform: translateY(-300%);
  }

  40% {
    transform: translateY(-400%);
  }

  50% {
    transform: translateY(-500%);
  }

  60% {
    transform: translateY(-400%);
  }

  70% {
    transform: translateY(-300%);
  }

  80% {
    transform: translateY(-200%);
  }

  90% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}


/* ________________________________ */

.index-content-down-right {
  width: 280px;
  background: rgb(53, 36, 36);
  border-left: 6px;

  box-shadow: rgba(201, 196, 196, 0.742) 0px 1px 4px, rgba(0, 0, 0, 0.24) 0px 3px 2px;
}

.index-content-down-right-title {
  margin-left: -90PX;
  margin-top: 200PX;
  margin-bottom: 90px;
  font-family: 'Lora';
  font-size: 28px;
  background: linear-gradient(106.85deg, #E9E7D8 -83.6%, rgba(233, 231, 216, 0) 129.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: -1;

  ;
}

.index-content-down-right p {
  margin-left: -90px;
  font-family: 'Lora';
  font-size: 14px;
  text-align: right;
  color: #B9842D;
}





/* ---------------------------- */


.index-footer-wrap {


  z-index: 3;
  padding: 50px;

  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #6F6C69 radial-gradient(50% 50% at 49.79% 28.22%, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.74232) 43.28%, #000000 100%);

}



.index-footer-content {
  display: flex;
  justify-content: space-between;
  z-index: 2;


}


.index-sidebar-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: -0.019em;
  text-transform: uppercase;
  color: #868383cd;

}

.index-footer-logo img {
  width: 250px;
  height: 130px;
}


.index-footer-sidebar-designer a {
  text-decoration: none;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.019em;
  color: #868383cd;
  t
}



.index-footer-content-bottom p {
  font-family: 'lora';
  font-size: 14px;
  color: #868383cd;


}