@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif; */


:root {
  --main-color: #e0d7cb;

  --secondary-color: #946A1A;

  --third-color: #55291B;

  --fourth-color: #CBC0AE;

  --fifth-color: #A9A587;


  --text-color: #D9D9D9;


}

@media screen and (min-width:768px) {

  * {
    margin: 0;
    /* outline: 1px solid red; */
  }


  .index-wrap {
    background-image: url('./coding-pic//material/nail-brown-cover.png');


    /* background: linear-gradient(192.96deg, rgba(0, 0, 0, 0.2) 5.82%, rgba(61, 61, 61, 0.116) 56.09%, rgba(255, 255, 255, 0) 97.14%), linear-gradient(0deg, rgba(208, 177, 119, 0.1), rgba(208, 177, 119, 0.1)), rgba(16, 6, 6, 0.9); */



    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;




  }

  .index-header-navbar {
    display: none;
  }

  .index-wrap {
    display: flex;

  }

  .index-content-top-down-wrap-filter {
    /* backdrop-filter: blur(100px) ; */

  }

  .index-wrap-row {}


  .index-wrap-column {



    border-right: 1px solid rgba(121, 85, 16, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;





  }

  .index-wrap-column::after {
    position: fixed;
    content: "";
    z-index: 5;
    width: 100%;
    height: 0.5px;
    top: 25px;
    background-color: rgba(227, 214, 214, 0.5);



  }

  .index-wrap-column i {


    text-align: center;
    margin: 20px;

  }




  .index-header-top-lab-menu {
    /* border: 2px solid#1f7ea7; */

    display: flex;
    align-items: stretch;
    width: 400px;
    height: 40px;
    list-style: none;

  }

  .index-header-top-lab-text-menu-item {
    /* border: 2px solid#931fa7; */

    position: relative;
    margin: 0 7px;
    line-height: 38px;
    text-align: center;




  }

  .index-header-top-lab-text-menu-item a {
    /* border: 2px solid#1fa746; */


    text-decoration: none;
    color: rgba(206, 195, 177, 1);
    margin-right: 70px;


  }

  .index-header-top-lab-text-menu-item:hover {
    cursor: pointer;

    border-radius: 5px;
    opacity: .8;

  }

  .index-header-top-lab-text-menu-item:hover>.index-header-top-nav-dropdown {
    display: block;
  }

  .index-header-top-nav-dropdown {
    /* border: 2px solid#1fa746; */

    display: none;
    position: absolute;
    width: 100%;
    padding: 4px;
    list-style: none;
    top: 100%;
    left: 0;
  }

  .index-header-top-nav-dropdown li {
    /* border: 2px solid#3f1fa7; */

    line-height: 24px;
    text-align: center;
  }

  .index-header-top-nav-dropdown a {
    /* border: 2px solid#a71f31; */
    display: block;
    align-items: start;
    padding: 10px;
    width: 300px;
    letter-spacing: 2px;

    color: #000;
    text-decoration: none;
    text-align: left;
    background-color: #ffffff34;


  }

  .index-header-top-nav-dropdown a:hover {
    list-style-type: disc;
    color: #a9803d;
    padding: 20px;

  }



  .index-header-top-lab-enter a {
    /* outline: 1px solid#457ab6; */

    flex-grow: 1;
    margin-left: 20px;
    text-align: end;
    text-decoration: none;
    color: #CEC3B1;


  }

  .index-header-top-lab-img {
    /* outline: 1px solid#45b670; */

    width: 200px;
    height: 70px;


  }

  .index-header-top-lab {
    /* outline: 4px solid#b64545; */

    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    color: #CEC3B1;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: end;

    width: 91%;
    height: 100px;


  }

  .index-header-top-nav-dropdown a {

    text-decoration: none;
    color: rgba(196, 190, 181, 0.985);
    letter-spacing: 3px;



  }

  .index-header-top-lab-img img {
    width: 200px;
    height: 70px;
    margin-left: -78px;

  }





  /* ------------------ */

  .index-top-content-wrap {
    margin-top: 300px;
  }




  .index-top-content-pic-area-title-wrap {
    /* border: 10px solid hsl(178, 82%, 39%); */

    display: flex;
    justify-content: center;



  }

  .index-top-content-pic-area-title {
    /* border: 10px solid hsl(274, 71%, 36%); */

    width: 200px;
    display: flex;
    align-items: center;
    margin-top: 120px;
    letter-spacing: 20px;

    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: 'Lora';
    font-size: 30px;
    font-weight: 50;
    background: linear-gradient(180deg, #fbfbfbce 0%, rgba(251, 251, 251, 0.478) 35.07%, rgba(251, 251, 251, 0.055) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


  }

  .index-top-content-pic-area-title span {
    margin-top: 100px;

  }

  .index-top-content-store-pic {
    /* border: 10px solid hsl(80, 72%, 69%); */

    background-image: url(./寫code照片/hito-top-store-\ background-pic\ up.png);


  }

  .index-top-content-logo-pic {
    /* border: 10px solid hsl(80, 52%, 37%); */




  }

  .index-top-content-store-pic img {}

  .index-top-content-store-pic p {
    /* border: 10px solid hsl(274, 71%, 36%); */

    font-family: 'Open Sans';
    font-size: 20px;
    color: #FFFEFE;

  }




  /* ////////////////////// */

  .index-top-content-designer-portfolio-wrap {
    /* border: 10px solid hsl(274, 89%, 45%); */
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .index-top-content-designer-pic {
    /* border: 10px solid hsl(122, 89%, 45%); */
    width: 1150px;
    margin-top: -220px;
    pointer-events: all;

  }


  .index-top-content-designer-pic h1 {
    /* border: 12px solid hsl(219, 89%, 45%); */
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 25px;
    color: #CBC0AE;



    ;



  }

  .index-top-content-designer-pic img {

    box-sizing: border-box;
    margin: 40px;

    width: 100px;
    height: 107px;

    border: 2px solid #946A1A;
    border-radius: 300px;

  }

  .index-top-content-portfolio {
    /* border: 10px solid hsl(274, 89%, 45%); */

  }

  .index-top-content-portfolio img {
    box-sizing: border-box;
    width: 108px;
    height: 368px;
    border-radius: 71px;

  }

  .portfolio1 {
    margin: 0px 30px;


  }

  .portfolio2 {
    margin: 90px 30px;


  }

  .portfolio3 {
    margin: 180px 30px;

  }

  .portfolio4 {
    margin: 180px 30px;

  }

  .portfolio5 {
    margin: 90px 30px;
  }

  .portfolio6 {
    margin: 0px 30px;
  }

  .index-top-content-portfolio p {
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 100;
    color: #CBC0AE;
    text-align: center;
    margin: -100px 0px 100px 0px;

  }




  /* //////////////////////// */

  .index-down-content-store-imformation-wrap {
    /* border: 5px solid hsl(111, 96%, 20%); */




    display: flex;

    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 20px;
    color: #FFFEFE;
    background: linear-gradient(0deg, #483a31, #1F1813), radial-gradient(67.06% 67.06% at 54.99% 54.85%, rgba(0, 0, 0, 0) 32.3%, rgba(2, 2, 2, 0.6) 100%);



  }

  .index-down-content-store-imformation-pic {
    /* border: 3px solid hsl(311, 89%, 45%); */

    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 30px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0564) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);



  }

  .store-logo-pic {
    width: 94px;
    height: 94px;

  }

  .store-map-pic {
    width: 203px;
    height: 205px;
  }

  .index-down-content-store-imformation-content {
    /* border: 3px solid hsl(239, 44%, 42%); */
    display: flex;
    flex-direction: column;
    padding: 30px;
    line-height: 50px;





  }

  .index-down-content-store-imformation li {
    text-decoration: none;
    list-style-type: none;
  }


  .index-down-content-store-imformation-pic-colum {
    /* border: 10px solid hsl(243, 100%, 20%); */
    display: flex;
    background: url(./寫code照片/hito-top-store-\ background-pic.png);
    border: 1px solid;
    border-image-source: linear-gradient(6.54deg, #B9944B 16.26%, #A68041 29.57%, rgba(170, 122, 43, 0));

    border-image-slice: 1;
  }



  .index-down-content-store-imformation {
    /* border: 6px solid hsl(68, 89%, 45%); */
    letter-spacing: 3px;





  }

  .buttom {

    display: block;
    text-align: center;

  }

  input[type="button"]:hover {

    cursor: pointer;
  }



  .index-down-content-store-imformation-service {
    /* border: 10px solid hsl(152, 50%, 55%); */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    width: 500px;
    margin-left: 55px;

  }

  .index-down-content-store-imformation-Comment {
    /* border: 10px solid hsl(199, 77%, 40%); */
    position: relative;
    padding: 40px;

    width: 500px;

  }

  .index-down-content-store-imformation-Comment ::after {
    content: "";
    width: 70%;
    height: 40%;
    position: absolute;
    background: linear-gradient(160deg, rgba(148, 97, 61, 0.036) 17.56%, rgba(81, 71, 63, 0.068) 81.73%);

  }


  .index-down-content-store-imformation-Comment-wrap a {
    display: inline-block;
    text-decoration: none;
    color: #FFFEFE;
    text-align: right;
    pointer-events: all;

  }

























  /* ------------------------------ */
  .index-footer-wrap {



    z-index: 3;
    padding: 50px;

    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #6F6C69 radial-gradient(50% 50% at 49.79% 28.22%, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.74232) 43.28%, #000000 100%);

  }



  .index-footer-content {
    display: flex;
    justify-content: space-between;
    z-index: 2;


  }


  .index-sidebar-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: -0.019em;
    text-transform: uppercase;
    color: #868383cd;

  }

  .index-footer-logo img {
    width: 200px;
    height: 70px;
  }


  .index-footer-sidebar-designer a {
    text-decoration: none;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 28px;
    letter-spacing: -0.019em;
    color: #868383cd;

  }



  .index-footer-content-bottom p {
    font-family: 'lora';
    font-size: 14px;
    color: #868383cd;


  }



}







@media screen and (max-width:768px) {

  * {
    margin: 0;
    /* outline: 1px solid red; */
  }



  .index-header {

    /* border: 1px solid#82ec7e; */

    display: flex;
    width: 100%;
    position: fixed;
    z-index: 20;

  }

  .index-header-top-lab,
  .index-wrap-column {
    display: none;
  }

  .nav-logo {
    /* border: 3px solid#ea7eec; */
    margin: auto;



  }

  .nav-logo img {
    /* border: 2px solid#837eec; */

    width: 130px;
    height: 40px;

  }


  .nav-logo {
    /* border: 3px solid#ea7eec; */
    margin: auto;



  }

  .nav-logo img {
    /* border: 2px solid#837eec; */

    width: 130px;
    height: 40px;

  }

  /* -------nav---漢堡條------ */

  #menu_control {
    /* border: 1px solid#9b7eec; */

    position: absolute;
    z-index: -10;
    opacity: 0;

  }

  .menu_btn {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;

    position: absolute;
    top: -20px;
    right: 3px;

  }

  .menu-btn-wrap {
    /* border: 1px solid#df2222; */

    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .menu-btn-style1,
  .menu-btn-style2,
  .menu-btn-style3 {

    background-color: var(--main-color);
    width: 1px;
    margin: 2.5px;
    margin-top: 50px;
  }

  .menu-btn-style1 {
    height: 30px;
  }

  .menu-btn-style2 {
    height: 20px;
  }

  .menu-btn-style3 {
    height: 10px;
  }

  .menu-btn-style1:active,
  .menu-btn-style2:active,
  .menu-btn-style3:active {
    animation: 0.5s side_slide02 cubic-bezier(0.01, 0.87, 0.21, 0.99);
    transform: rotate(180deg);
    /* 移動半圈，可以根據需求調整角度 */
  }

  @keyframes side_slide02 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(50%);
      /* 移動半圈的距離，可以根據需求調整 */
    }
  }

  /* ---------nav---漢堡條--------------------- */

  /* ---------nav----swiper----滾動------------- */
  .index-header nav {


    width: 68%;
    background-color: rgba(12, 12, 12, 0.479);
    position: absolute;
    top: 100px;
    left: -100%;
    top: 60px;
    transition: .3s;
  }

  .index-nav-bg {
    /* border: 1px solid#df2222; */

    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
  }

  .index-header nav h1 {

    color: #867c7c;
    font-size: 20px;
    font-family: 'Lora';
    font-weight: 10;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 2%;
  }

  .index-nav-bg h5 {

    color: #967815;
    font-size: 18px;
    font-weight: 10;
    font-family: 'Lora';
    text-align: center;
    font-weight: 10;
    padding: 2%;
  }

  .index-header nav h2,
  h3,
  h4 {

    color: var(--secondary-color);
    font-size: 10px;
    font-family: 'open sans';
    font-weight: 100;
  }

  swiper-container {
    margin: 7%;
    border-radius: 20px;

  }

  swiper-slide {

    width: 90%;
    color: #fff;
    text-align: end;
    font-family: 'opansans';
    font-weight: 100;


  }

  .swiper-slide-overlay {

    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--main-color);
    font-size: 8px;
    font-weight: 100;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .swiper-slide-overlay:hover {
    opacity: 0;
  }

  .mySwiper img {
    width: 100px;
    height: 100px;
    border-radius: 10px;

  }

  swiper-slide:nth-child(2) {
    background: #7e767500;


  }

  swiper-slide:nth-child(3) {
    background: #41341900;
  }

  swiper-slide:nth-child(4) {
    background: #390d0300;
  }

  swiper-slide:nth-child(5) {
    background: #50311900;
  }




  #menu_control:checked~.index-header nav {
    left: 0;
    padding: 10px 40px;

  }

  .nav-share {
    /* border: 1px solid#82ec7e; */
    text-align: center;

  }

  .nav-share h6 {

    /* border: 1px solid rgb(236, 179, 126); */

    font-size: 20px;
    color: var(--secondary-color);
  }

  .nav-share a {
    text-decoration: none;
    list-style: none;
  }

  .nav-share-border {

    display: inline-block;
    background-color: #1d1818a9;
    border: 1px solid#54545487;
    border-radius: 50%;
    padding: 20px;
  }

  #copyText {
    opacity: 0;
  }

  #copyButton {

    width: 200px;
    height: 20px;
    color: #b3a4a4;
    background-color: #1d1818a9;
    border: 1px solid#54545487;
    border-radius: 300px;
    cursor: pointer;
  }

  .nav-share-url {
    /* border: 1px solid#fff; */

    text-align: center;
    margin: 8%;

  }

  .nav-button {
    /* border: 1px solid#fff; */

    text-align: center;
    background-color: black;
    color: var(--fourth-color);

  }


  /* ---------nav----swiper----滾動------------- */






  .index-wrap {
    background-image: url('./coding-pic//material/nail-brown-cover.png');


    /* background: linear-gradient(192.96deg, rgba(0, 0, 0, 0.2) 5.82%, rgba(61, 61, 61, 0.116) 56.09%, rgba(255, 255, 255, 0) 97.14%), linear-gradient(0deg, rgba(208, 177, 119, 0.1), rgba(208, 177, 119, 0.1)), rgba(16, 6, 6, 0.9); */



    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    display: flex;

  }


  .index-content-top-down-wrap-filter {
    /* backdrop-filter: blur(100px) ; */

  }


  /* ------------------ */

  .index-top-content-wrap {
    margin-top: 100px;
  }

  .index-top-content-pic-area {
    /* display: flex; */
  }


  .index-top-content-pic-area-title-wrap {
    /* border: 10px solid hsl(178, 82%, 39%); */

    display: flex;

    justify-content: center;


  }

  .index-top-content-pic-area-title {
    /* border: 10px solid hsl(274, 71%, 36%); */

    display: flex;
    align-items: center;
    margin-top: 120px;
    letter-spacing: 20px;

    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: 'Lora';
    font-size: 30px;
    font-weight: 50;
    background: linear-gradient(180deg, #fbfbfbce 0%, rgba(251, 251, 251, 0.478) 35.07%, rgba(251, 251, 251, 0.055) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


  }

  .index-top-content-pic-area-title h1 {
    display: none;
  }

  .index-top-content-pic-area-title span {
    margin-top: 100px;

  }

  .index-top-content-store-pic {
    /* border: 10px solid hsl(80, 72%, 69%); */

    background-image: url(./寫code照片/hito-top-store-\ background-pic\ up.png);
    display: flex;
    align-items: flex-end;
    padding: 20px;


  }

  .index-top-content-logo-pic {
    /* border: 10px solid hsl(80, 52%, 37%); */


  }

  .index-top-content-store-pic img {
    width: 80px;
  }

  .index-top-content-store-pic p {
    /* border: 10px solid hsl(274, 71%, 36%); */

    font-family: 'Open Sans';
    font-size: 20px;
    color: #FFFEFE;

  }


  /* ---------- */

  .index-top-content-designer-portfolio-wrap {
    /* border: 10px solid hsl(274, 89%, 45%); */
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .index-top-content-designer-pic {
    /* border: 10px solid hsl(122, 89%, 45%); */

    pointer-events: all;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }


  .index-top-content-designer-pic h1 {
    /* border: 12px solid hsl(219, 89%, 45%); */
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 25px;
    color: #CBC0AE;

  }

  .index-top-content-designer-pic img {

    box-sizing: border-box;

    width: 100px;
    height: 107px;
    border: 2px solid #946A1A;
    border-radius: 300px;

  }

  .index-top-content-portfolio {
    /* border: 10px solid hsl(274, 89%, 45%); */

  }

  .index-top-content-portfolio img {
    box-sizing: border-box;
    width: 50px;
    height: 170px;
    border-radius: 71px;

  }


  .index-top-content-portfolio p {
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 100;
    color: #CBC0AE;
    text-align: center;
    margin: -100px 0px 100px 0px;

  }




  /* ----------------*/

  .index-down-content-store-imformation-wrap {
    /* border: 5px solid hsl(56, 90%, 47%);
   */

    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 20px;
    color: #FFFEFE;
    background: linear-gradient(0deg, #483a31, #1F1813), radial-gradient(67.06% 67.06% at 54.99% 54.85%, rgba(0, 0, 0, 0) 32.3%, rgba(2, 2, 2, 0.6) 100%);



  }

  .index-down-content-store-imformation-pic {
    /* border: 3px solid hsl(133, 89%, 45%); */

    display: flex;
    flex-direction: column;
    align-items: end;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0564) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);

  }

  .store-logo-pic {
    /* border: 3px solid hsl(138, 89%, 45%); */
    width: 94px;
    height: 94px;

  }

  .store-map-pic {
    width: 100px;
    height: 100px;
  }

  .index-down-content-store-imformation-content {
    /* border: 3px solid hsl(239, 44%, 42%); */
    display: flex;
    flex-direction: column;
    padding-left: 10px;



  }

  .index-down-content-store-imformation li {
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    /* border: 6px solid hsl(68, 89%, 45%); */

  }

  .index-down-content-store-imformation {
    /* border: 6px solid hsl(68, 89%, 45%); */
    letter-spacing: 3px;

  }

  .index-down-content-store-imformation-pic-colum {
    /* border: 10px solid hsl(243, 100%, 20%); */
    display: flex;
    background: url(./寫code照片/hito-top-store-\ background-pic.png);
    border: 1px solid;
    border-image-source: linear-gradient(6.54deg, #B9944B 16.26%, #A68041 29.57%, rgba(170, 122, 43, 0));

    border-image-slice: 1;
  }




  .buttom {

    display: block;


  }

  input[type="button"]:hover {

    cursor: pointer;
  }



  .index-down-content-store-imformation-service {
    /* border: 10px solid hsl(152, 50%, 55%); */

    display: grid;
    grid-template-columns: 100px 120px;
    grid-gap: 10px;
    font-size: 14px;

  }

  .index-down-content-store-imformation-Comment {
    /* border: 10px solid hsl(199, 77%, 40%); */
    display: none;


  }


  .index-down-content-store-imformation-Comment ::after {
    content: "";
    width: 70%;
    height: 40%;
    position: absolute;
    background: linear-gradient(160deg, rgba(148, 97, 61, 0.036) 17.56%, rgba(81, 71, 63, 0.068) 81.73%);

  }


  .index-down-content-store-imformation-Comment-wrap a {
    display: inline-block;
    text-decoration: none;
    color: #FFFEFE;
    text-align: right;
    pointer-events: all;

  }







  /* ------------------------------ */
  .index-footer-wrap {


    padding: 10px;

    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #6F6C69 radial-gradient(80% 80% at 49.79% 28.22%, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.74232) 43.28%, #000000 100%);

  }



  .index-footer-content {

    text-align: center;

  }


  .index-sidebar-content,
  .index-footer-sidebar-designer a,
  .index-footer-content-bottom p,
  .index-footer-sidebar-sign img {
    display: none;

  }

  .index-footer-logo img {
    width: 150px;
    height: 50px;
  }







}